* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        	box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 1440px;
    height: 984px;
    background-image: url('./images/hero.jpg') ;
    background-position: 50% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: 50% 90%;
}

.container nav {
    width: 980px;
    height: 36px;
    display: flex;
    margin-top: 80px;
    background: linear-gradient( #666 50%, #838383 48%);
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-list li {
    padding: 10px 52.8165px 10px 52.8165px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    border-left: 1px solid #767676;
    cursor: pointer;
}

.nav-list li a i {
    color: inherit;
    font-size: 20px;
}

.nav-list li:nth-of-type(1) {
    border-left: 0;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    position: relative;
    border-left: 1px solid #767676;
    padding: 10px;
    padding-bottom: 7px;
}

.search-div input {
    background-color: inherit;
    border-top: 1px solid #373737;
    border-bottom: 1px solid rgb(146, 146, 146);
    width: 106px;
    height: 23px;
    border-radius: 20px;
}

.search-div i {
    position: absolute;
    left: 0;
    margin-left: 18px;
    font-size: 13px;
}

.header-text {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-weight: 10;
}

.header-text h1 {
    font-size: 75px;
}

.header-text h2 {
    font-size: 35px;
}

.p-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 25px;
}

.p-icon-div i {
    margin-left: 15px;
}

.bottom-images {
    width: 1440px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 2px;
}

.bottom-images img {
    margin-left: 2px;
}

footer {
    width: 100%;
}

.footer-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 980px;
    margin-top: 18px;
}

.footer-wrapper a {
    color: #078bcd;
    font-size: 10px;
}

.text-buttons-footer {
    display: flex;
    width: 100%;
}

.footer-text span {
    font-size: 10px;
}

.footer-buttons {
    margin-left: 32px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list li a {
    border-left: 1px solid rgba(0,0,0, 0.2);
    padding: 0 5px 0 5px;
}

.footer-list li a.no-border {
    border: none;
}


.copyright-footer {
    display: flex;
    margin-top: 12px;
    font-size: 10px;
}